<div class="col-lg-12">
    <div class="form-group">
        <label for="name">Imię</label>
        <input type="text" class="form-control" name="name" ng-model="formData.name" required>
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <label for="surname">Nazwisko</label>
        <input type="text" class="form-control" name="name" ng-model="formData.surname" required>
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="form-control" name="email" ng-model="formData.email" required>
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group">
        <label for="email">Telefon</label>
        <input type="text" class="form-control" name="email" ng-model="formData.phone">
    </div>
</div>
<div class="col-lg-12">
    <div class="form-group row">
        <div class="col-xs-6">
            <a ui-sref="form.welcome" class="btn btn-block btn-info">
                <span class="fa fa-arrow-left"></span> Poprzedni
            </a>
        </div>
        <div class="col-xs-6">
            <a ui-sref="form.begin" class="btn btn-block btn-info">
                Następny <span class="fa fa-arrow-right"></span>
            </a>
        </div>
    </div>
</div>