<header class="jumbotron">
    <p>
        <i>
            Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w mojej ofercie pracy dla potrzeb
            niezbędnych do
            realizacji procesu rekrutacji (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; tekst
            jednolity: Dz. U. z 2002r. Nr 101, poz. 926 ze zm.).
        </i>
    </p>

    <p class="checkbox">
        <label for="accepted">
            <input id="accepted" type="checkbox"
                   ng-model="personalData.accepted" required>
            Akceptuję
        </label>
    </p>

    <div class="col-lg-12">
        <div class="form-group row">
            <div class="col-xs-6">
                <a ui-sref="form.welcome" class="btn btn-block btn-info">
                    <span class="fa fa-arrow-left"></span> Poprzedni
                </a>
            </div>
            <div class="col-xs-6">
                <a ng-click="submitTerms()" class="btn btn-block btn-info">
                    <span class="fa fa-play"></span>
                </a>
            </div>
        </div>
    </div>
</header>