<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{entityName.name}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading" ui-view="overview_actions_menu"></div>
            <!-- /.panel-header -->
            <div class="panel-body" ui-view="overview_list"></div>
            <!-- /.panel-body -->
        </div>
    </div>
</div>

<div class="modal" id="new-entity-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div ui-view="overview_new_entity">
            </div>
        </div>
    </div>
</div>
<!-- /#new-entity-modal -->

<script type="text/ng-template" id="delete.entity.modal.html">

</script>
<!-- /#new-entity-modal -->

