<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{entityName.name}}</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default" ui-view="overview_list">
        </div>
    </div>
</div>

<div class="modal fade" id="new-entity-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Nowy {{entityName.name}}</h4>
            </div>
            <div ui-view="overview_new_entity">
            </div>
        </div>
    </div>
</div>
<!-- /#new-entity-modal -->
