<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="exap-admin" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="exap-admin" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="exap-admin" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="exap-admin" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ExAp - administration</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="resources/bower_components/bootstrap/dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="resources/bower_components/codemirror/lib/codemirror.css"/>
    <link rel="stylesheet" href="resources/css/plugins/metisMenu/metisMenu.css"/>
    <link rel="stylesheet" href="resources/css/plugins/timeline.css"/>
    <link rel="stylesheet" href="resources/css/plugins/morris.css"/>
    <link rel="stylesheet" href="resources/font-awesome-4.1.0/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="resources/bower_components/codemirror/theme/eclipse.css"/>
    <link rel="stylesheet" href="resources/bower_components/codemirror/theme/elegant.css"/>
<!--
    <link rel="stylesheet" href="resources/bower_components/ng-tags-input/ng-tags-input.css"/>
-->

    <link rel="stylesheet" href="resources/css/sb-admin-2.css"/>
</head>
<body>

<div id="wrapper" ng-app="exap-admin">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html"><span app-name></span> v.<span app-version></span></a>
    </div>
    <!-- /.navbar-header -->

    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a ui-sref="CRUD.operation.Entity({ operation: 'CREATE', entityName: 'Question'})">Dodaj pytanie</a>
                </li>
                <li>
                    <a ui-sref="CRUD.operation.Entity({ operation: 'READ', entityName: 'Question'})">Pokaż pytania</a>
                </li>
                <li ng-controller="CollapseController" ng-class="{ 'active': !isCollapsed }">
                    <a ng-click="isCollapsed = !isCollapsed"><i class="fa fa-database fa-fw"></i> Dane podstawowe<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" collapse="isCollapsed">
                        <li>
                            <a ui-sref="Overview.Masterdata({ entityName: 'ExamType'})">Typy egzaminów</a>
                        </li>
                        <li>
                            <a ui-sref="Overview.Masterdata({ entityName: 'QuestionType'})">Typy pytań</a>
                        </li>
                        <li>
                            <a ui-sref="Overview.Masterdata({ entityName: 'ExamPaper'})">Egzamin</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li ng-controller="CollapseController" ng-class="{ 'active': !isCollapsed }">
                    <a ng-click="isCollapsed = !isCollapsed"><i class="fa fa-question fa-fw"></i> Pytania<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" collapse="isCollapsed">
                        <li>
                            <a ui-sref="Overview.Masterdata({ entityName: 'Question'})">Pytania</a>
                        </li>
                        <li>
                            <a ui-sref="Overview.Masterdata({ entityName: 'QuestionAnswer'})">Odpowiedź na pytanie</a>
                        </li>
                        <li>
                            <a ui-sref="Overview.Masterdata({ entityName: 'QuestionDetail'})">Szczegóły pytania</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li ng-controller="CollapseController" ng-class="{ 'active': !isCollapsed }">
                    <a ng-click="isCollapsed = !isCollapsed"><i class="fa fa-reply fa-fw"></i> Odpowiedzi<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level" collapse="isCollapsed">
                        <li>
                            <a ui-sref="Overview.Masterdata({ entityName: 'SubmitQuestionHeader'})">Odpowiedź na pytanie</a>
                        </li>
                        <li>
                            <a ui-sref="Overview.Masterdata({ entityName: 'SubmitQuestionAnswer'})">Szczegóły odpowiedzi</a>
                        </li>
                        <li>
                            <a ui-sref="Overview.Masterdata({ entityName: 'ExamPaperQuestion'})">Egzamin - Odpowiedzi</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

<div class="page-wrapper" ng-controller="StateController">
    <div ui-view="overview"></div>
    <div ui-view="CRUD"></div>
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Core JavaScript
================================================== -->
<!-- jQuery -->
<script src="resources/bower_components/jquery/dist/jquery.js"></script>
<script src="resources/bower_components/jquery-ui/jquery-ui.js"></script>
<!-- AngularJS -->
<script src="resources/bower_components/angular/angular.js"></script>
<script src="resources/bower_components/angular-route/angular-route.js"></script>
<script src="resources/bower_components/angular-resource/angular-resource.js"></script>
<script src="resources/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<!--<script src="resources/bower_components/angular-bootstrap/ui-bootstrap.js"></script>-->
<script src="resources/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="resources/bower_components/angular-animate/angular-animate.js"></script>
<script src="resources/bower_components/angular-ui-sortable/sortable.js"></script>
<!-- codemirror -->
<script src="resources/bower_components/angular-ui-codemirror/ui-codemirror.js"></script>
<script src="resources/bower_components/codemirror/lib/codemirror.js"></script>
<script src="resources/bower_components/codemirror/mode/clike/clike.js"></script>
<!-- tags input-->
<script src="resources/bower_components/ng-tags-input/ng-tags-input.js"></script>
<!-- Bootstrap Core JavaScript -->
<!--<script src="resources/bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
<!--<script src="resources/bower_components/bootstrap/js/modal.js"></script>-->
<!-- Metis Menu Plugin JavaScript -->
<!--<script src="resources/js/plugins/metisMenu/metisMenu.js"></script>-->
<!-- Morris Charts JavaScript -->
<!--<script src="resources/js/plugins/morris/raphael.min.js"></script>-->
<!--<script src="resources/js/plugins/morris/morris.min.js"></script>-->
<!--<script src="resources/js/plugins/morris/morris-data.js"></script>-->
<!-- Custom Theme JavaScript -->
<script src="resources/js/admin/sb-admin-2.js"></script>
<script src="resources/js/admin/angular-bootstrap.js"></script>
<!-- Application -->
<script src="resources/js/admin/Constants.js"></script>
<script src="resources/js/admin/EntitiesMeta.js"></script>
<script src="resources/js/admin/services.js"></script>
<script src="resources/js/admin/directives.js"></script>
<script src="resources/js/admin/filters.js"></script>
<script src="resources/js/admin/controllers.js"></script>
<script src="resources/js/admin/OverviewControllers.js"></script>
<script src="resources/js/admin/CRUDControllers.js"></script>
<script src="resources/js/admin/CRUD/QuestionCRUDControllers.js"></script>
<script src="resources/js/admin/app.js"></script>

</body>
</html>
