<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="pull-left">
                Egzamin
            </div>
            <div class="pull-right">
                <div class="btn-group col-xs-12 col-lg-12">
                    <fieldset ng-disabled="isDisabled">
                        <button type="button" class="btn btn-danger btn-circle" aria-hidden="true"
                                ng-click="deleteExamPaperModal()"><i class="fa fa-times"></i>
                        </button>
                    </fieldset>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- /.panel-header -->
        <div class="panel-body">
            <form id="form_question" name="form_update" role="form" novalidate>
                <fieldset ng-disabled="isDisabled">
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-12">
                            <label for="examPaper_name">Nazwa</label>
                            <input id="examPaper_name" name="examPaper.name" class="form-control"
                                   ng-model="examPaper.name"
                                   placeholder="Nazwa egzaminu" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-12">
                            <label for="examPaper_description">Opis</label>
                            <textarea rows="2" id="examPaper_description" name="examPaper.description"
                                      class="form-control"
                                      ng-model="examPaper.description" placeholder="Opis egzaminu" optional></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-12">
                            <label>Opcje</label>

                            <div class="checkbox">
                                <label for="examPaper_active"
                                       tooltip="Egzamin zaznaczony jako 'Aktywny' jest dostępny dla kandydatów">
                                    <input id="examPaper_active" type="checkbox" name="examPaper.active"
                                           ng-model="examPaper.active">
                                    Aktywny
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-12">
                            <label for="examPaper_examType">Typ pytania</label>
                            <select id="examPaper_examType" name="examPaper.examType" class="form-control"
                                    ng-model="examPaper.examType" ng-options="q as q.description for q in examTypes"
                                    required="required">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12 col-lg-12">
                            <button type="submit" class="btn btn-success btn-lg btn-block" ng-click="updateExamPaper()">
                                Zapisz
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
<!-- /.panel-body -->

<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Pytania dodane
        </div>
        <div class="panel-body" ng-class="{question_container_body : (questionsAdded.length == 0)}">
            <div class="list-group question-container" ng-model="questionsAdded" ui-sortable="sortableOptions">
                <div class="list-group-item" ng-repeat="question in questionsAdded">
                    {{question.subject | cut:true:100:'...' }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            Pytania do wyboru
        </div>
        <div class="panel-body" ng-class="{question_container_body : (questions.length == 0)}">
            <div class="list-group question-container" ng-model="questions" ui-sortable="sortableOptions">
                <div class="list-group-item" ng-repeat="question in questions">
                    {{question.subject | cut:true:100:'...' }}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.panel-body -->