<div class="row">
    <div class="form-group col-xs-12 col-lg-12">
        <tags-input class="tagsInput" ng-model="tags" display-property="name"
                    placeholder="Wpisz tag aby przefiltrować listę"
                    add-on-space="true" max-length="20" min-length="1"
                    add-from-autocomplete-only="true"
                    on-tag-added="tagAdded($tag)"
                    on-tag-removed="tagRemoved($tag)">
            <auto-complete source="loadTags($query)" min-length="1" debounce-delay="300"></auto-complete>
        </tags-input>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover table-editable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Tytuł</th>
            <th>Wynik całkowity</th>
            <th>Typ</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="e in entities" ng-click="editRow(e)">
            <td>{{e.id}}</td>
            <td>{{e.subject}}</td>
            <td>{{e.totalScore}}</td>
            <td>{{e.questionType.description}}</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- /.table-responsive -->